<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
    <div id="controller">
        <div id="preview">
            <img id="frame" src="static/img/panel.png" />
            <img id="led" src = ""/>
        </div>
        <div id="change_image">
            <input type="button" id="next" class="button" value="次の画像へ">
            <input type="button" id="prev" class="button" value="前の画像へ">
        </div>
        <div id="change_brightness">
            <input type="button" id="bright+" class="button" value="輝度 + ">
            <input type="button" id="bright-" class="button" value="輝度 - ">
        </div>
    </div>
    <script src="/static/js/index.js"></script>
</body>

</html>