<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/index.css">
    </head>
    <body>
        <div id="controller">
            <input type="button" id = "btn_shutdown" class="button" value="電源を切る">
            <input type="button" id = "btn_rollsign" class="button" value="方向幕モード">
            <input type="button" id = "btn_signboard" class="button" value="電光掲示板モード"> 
        </div>
        <script src="/static/js/index.js"></script>
    </body>
</html>