<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/rollsign.css">
</head>

<body>
    <title>
        方向幕コントローラー
    </title>
    <div id="controller">
        <div id="preview">
            <img id="led" src = "{{src}}"/>
        </div>

        <div id="change_image">
            <input type="button" id = "btn_next" class="button" value="次の画像へ">
            <input type="button" id = "btn_prev" class="button" value="前の画像へ">
        </div>

        <div id="option">
            <input type="checkbox" id="chk_auto_switch">自動で切り替える
            <input type="text" id="txt_interval" value = 30>
            <select id = "select_interval">
                <option value = "sec">秒</option>
                <option value = "min">分</option>
            </select>
            <label id="lbl_interval" for="duration">間隔</label>
        </div>
    </div>
    <script src="/static/js/rollsign.js"></script>
</body>

</html>